#!name = Minibili Redirect
#!author = Minibili
#!update = 2026-4-25

^https?:\/\/(?:www\.|m\.)?bilibili\.com\/video\/(BV[a-zA-Z0-9]+|av\d+|\d+).* url 302 minibili://video/$1

^https?:\/\/search\.bilibili\.com\/([a-zA-Z0-9_]+)\?.*?\bkeyword=([^&]+).* url 302 minibili://search?keyword=$2&type=$1

hostname = www.bilibili.com, search.bilibili.com, m.bilibili.com, bilibili.com
